/* body */
body {
  margin: 25px;
  padding: 25px;
}

/* Header */
.pageName {
  margin: 25px 25px 25px 25px;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #1F3960;
  /* text-shadow: 1px 1px 2px #FF8000; */
}

/* nav */
.nav {
  height: 70px;
  display: flex;
  align-items: center;
}
.navRightItems {
  display: flex;
  margin-left: auto;
}
.navItems {
  margin-left: 20px;
}

/* WhoIAm */
.WhoIAm {
  display: flex;
}
.WhoIAm img{
  width: 300px;
  height: auto;
}

.WhoIAmPara {
  width: 600px;
  padding: 25px 25px 25px 25px;
  margin-left: auto;
}

/* Main */
.main {
  margin: 0 auto;
  margin-top: 60px;
}

/* WhyMe */
.WhyMeParts {
  display: flex;
}
.WhyMePartsSub {
  font-size: 1.5rem;
  background-color: #1F3960;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.WhyMePartsPara{
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 20px;
}
.WhyMePartsPara p{
  padding: 0px 10px 0px 10px;
}

/* Links */
.links {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #1F3960;
  justify-content: center;
  position: fixed;
}
.linksItems img{
  width: 2em;
  height: auto;
  margin: 20px;
  vertical-align: center;
}

span{
  color:#FF8000;
  font-weight: bold;
}

h2 {
  text-align: center;
}